.wrapper{
  width: 735px;
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: auto;
  border-radius: 8px;
  background-color: var(--lightBlue);
}

@media screen and (max-width: 768px) {
  .wrapper {
    width: 90%;
    padding: 20px;
    height: 180px;
  }
  
}