.wrapper{
  padding: 20px;
  min-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inputGroup{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.erro{
  text-align: end;
  color: red;
}

.clientInfo{
  width: 100%;
  padding: 20px;
}

.label{
  color: var(--highlight);
  font-weight: bold;
  background-color: var(--dark);
  padding: 1px 10px;
  border-radius: 10px 10px 0px 0px;
}

.clientInfo p{
  font-size: 18px;
  color: var(--dark);
  background-color: rgba(169, 169, 169, 0.6);
  padding: 1px 10px;
  border-radius: 0px 25px 25px 25px;
  border: 1px solid var(--dark);
}

.container{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0px 20px 20px 20px;
  gap: 10px;
}

.buttons{
  justify-content: space-between;
  display: flex;
}

.busca, .lista{
  background-color: var(--highlight);
  color: var(--dark);
  width: 255px;
  height: 50px;
  border: 1px solid var(--dark);
  border-radius: 8px;
  transition: ease-in-out .3s;
}

.busca:hover, .lista:hover{
  background-color: var(--dark);
  color: var(--highlight);
  scale: 1.05;
}


.totalIngressos{
  text-align: center;
  background-color: var(--dark);
  padding: 5px;
  
  color: var(--highlight);
  border-radius: 8px;
}

.totalIngressos span{
  color: white;
  font-weight: bold;
}

.notFound{
  text-align: center;
  font-size: 20px;
  color: var(--highlight);
  background-color: var(--dark);
  padding: 5px;
  border-radius: 8px;
}


@media screen and (max-width:758px) {
  .wrapper{
    min-width: auto;
    width: 100%;
  }

  .inputGroup{
    gap: 10px;
  }

  .buttons{
    flex-direction: column;
    gap: 10px;
    justify-content: center;
  }

  .busca, .lista{
    width: auto;
  }
}