.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.formContainer {
  width: 75%;
  background-color: white;
  padding: 0px 0px 20px 0px;
  border-radius: 8px;
  border: 1px solid var(--dark);
  overflow: clip;
}

.wrapper{
  padding: 0px 20px;
}

.title {
  font-size: 18px;
  font-weight: bold;
  color: var(--highlight);
  padding: 20px;
  margin-bottom: 16px;
  background-color: var(--dark);
}

.inputGroup {
  margin-bottom: 16px;
  width: 50%;
}


.inputGroup label {
  font-weight: bold;
  color: var(--dark);
  display: block;
  margin-bottom: 8px;
}

.error{
  text-align: end;
  color: red !important;
  font-weight: 100 !important;
}

.inputGroup input {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #d1d5db;
}

.row {
  display: flex;
  gap: 10px;
}

.button {
  width: 100%;
  padding: 12px;
  background-color: var(--highlight);
  border: none;
  border-radius: 4px;
  transition: ease-in-out .3s;
}

.button:hover{
  background-color: var(--dark);
  color: var(--highlight);
  scale: 1.05;
}

.resumoContainer {
  width: 20%;
  background-color: white;
  padding: 0px 0px 20px 0px;
  border-radius: 8px;
  border: 1px solid var(--dark);
  overflow: clip;
  max-height: 300px;
}

.resumoContainer p {
  color: var(--dark);
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}

.resumoContainer .total {
  font-weight: bold;
}

.infoBox {
  background-color: #e5e7eb;
  padding: 10px;
  border-radius: 4px;
  margin-top: 10px;
  font-size: 12px;
}

@media screen and (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
    width: 100%;
  }

  .formContainer, .resumoContainer {
    width: 100%;
  }

  .row{
    flex-direction: column;
  }

  .inputGroup {
    width: 100%;
  }

  .button {
    width: 100%;
  }
  
}
