.Container{
  width: 70%;
  margin: auto;
}

.button{
  width: 100%;
  border: none;
  background-color: #F4016A;
  color: white;
  padding: 5px;
  border-radius: 25px;
}

.button2{
  border: none;
  background-color: #F4016A;
  color: white;
  padding: 5px 10px;
  border-radius: 25px;
}

@media screen and (max-width: 600px) {
  .Container{
    width: 100%;
  }
}