.wrapper{
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--lightYellow);
  gap: 34px;
  padding: 34px 0px;
}

.wrapper2{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 1400px;
}

@media screen and (max-width: 768px) {
  .wrapper{
    gap: 24px;
    padding: 20px;
  }

  .wrapper2{
    width: 100%;
    flex-direction: column;
    padding: 0px 25px;
    gap: 20px;
  }
  
}