.wrapper{
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--lightYellow);
  gap: 34px;
  padding: 34px 0px;
}



.wrapper2{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 670px;
  border-radius: 8px;
  overflow: clip;
  border: 1px solid var(--dark);
}

.title{
  width: 100%;
  height: 77px;
  padding: 22px 45px;
  background-color: var(--dark);
  color: var(--highlight);
}

.content{
  width: 100%;
  padding: 22px 45px;
  background-color: white;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content p{
  text-align: center;
}

.content button{
  text-align: left;
  width: 100%;
  height: 50px;
  padding: 0px 20px;
  border: 1px solid var(--dark);
  border-radius: 8px;
  transition: ease-in-out .3s;
}

.content button:nth-child(even){
  background-color: var(--highlight);
  color: var(--dark);
}

.content button:nth-child(odd){
  background-color: var(--dark);
  color: var(--highlight);
}

.content button:nth-child(even):hover{
  background-color: var(--dark);
  color: var(--highlight);
}

.content button:nth-child(odd):hover{
  background-color: var(--highlight);
  color: var(--dark);
}

.content button:hover{
  scale: 1.05;
}