.wrapper{
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--lightYellow);
  gap: 34px;
  padding: 34px 0px;
}

.wrapper2{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 670px;
  border-radius: 8px;
  overflow: clip;
  border: 1px solid var(--dark);
}

.title{
  width: 100%;
  height: 77px;
  padding: 22px 45px;
  background-color: var(--dark);
  color: var(--highlight);
}

.content{
  width: 100%;
  padding: 22px 45px;
  background-color: white;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content p{
  text-align: center;
}

.content button{
  text-align: left;
  width: 100%;
  height: 50px;
  padding: 0px 20px;
  border: 1px solid var(--dark);
  border-radius: 8px;
  transition: ease-in-out .3s;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.buttonIcon{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.buttonEven{
  background-color: var(--highlight);
  color: var(--dark);
}

.buttonOdd{
  background-color: var(--dark);
  color: var(--highlight);
}

.content button:hover, .buttonReturn:hover{
  scale: 1.05;
  opacity: 0.8;
}

.clientInfo{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  width: 50%;
  margin: auto;
  padding: 10px;
  border-radius: 8px;
  background-color: var(--lightBlue);
}

.inputGroup{
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.inputGroup input {
  border: none;
  border-radius: 8px;
  background-color: white;
}

.wrapperTicket{
  background-color: white;
  padding: 20px;
}

.buttonReturn{
  background-color: var(--dark);
  color: var(--highlight);
  width: 100px;
  height: 50px;
  padding: 0px 20px;
  border: none;
  border-radius: 8px;
  transition: ease-in-out .3s;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media screen and (max-width: 768px) {

  .wrapper{
    padding: 20px;
  }

  .wrapper2{
    width: 100%;
  }

  .title{
    height: auto;
    padding: 10px;
    text-align: center;
  }

  .content{
    padding: 10px;
  }

  .content p{
    font-size: 14px;
  }

  .content button{
    font-size: 14px;
  }
  
}