body{
  background-color:rgba(224, 215, 223, 0.6);
  background-image: url('/background/fundo1.png');
  background-position: center;
  
  background-size: 100% auto;
  background-repeat: repeat;

  overflow-x: hidden;
}

/* gallery */

.react-photo-album--photo {
  background-color: white !important;
  box-shadow: purple 3px 3px 2px;
  transition: ease-in-out .3s;
  border: 1px solid purple !important;
}

.react-photo-album--photo:hover {
  opacity: .7;
}

.react-photo-album--image {
}



/* gallery */


nextjs-portal {
  display: none;
}