html, body{
  overflow-x: hidden;
}

body{

  display: flex;
  flex-direction: column;
  min-height: 100vh;

  /* position: relative;
  /* background-image: url('/carnaval/background/fundo1.png'); */
  /* background-position: center;
  
  background-size: 100% auto;
  background-repeat: repeat;  */
}

:root {
  --highlight: #F3E601;
  --dark: #222222;
  --lightBlue: rgba(121, 173, 220, .5);
  --darkBlue: rgba(65, 93, 118, 1);
  --lightYellow: #F3E60130;
}

/* gallery */

.react-photo-album--photo {
  background-color: white !important;
  box-shadow: purple 3px 3px 2px;
  transition: ease-in-out .3s;
  border: 1px solid purple !important;
}

.react-photo-album--photo:hover {
  opacity: .7;
}

.react-photo-album--image {
}



/* gallery */


nextjs-portal {
  display: none;
}