.fotos1,.fotos2,.fotos3,.fotos4,.fotos5,.fotos6, .banner {
  position: absolute;
  height: auto;
  width: 400px;
  z-index: -1;
  opacity: 1;
  border-radius: 25px;
  box-shadow: purple 6px 6px 4px;
}

.fotos1{
  top: 18%;
  right: 10%;
  rotate: 15deg;
}

.fotos2{
  top: 20%;
  left: 9%;
  rotate: -18deg;
}

.fotos3{
  top: 57%;
  right: 4%;
  rotate: 25deg;
}

.fotos4{
  bottom: 16%;
  right: 7%;
  rotate: 25deg;
}

.fotos5{
  bottom: 11%;
  left: 7%;
  rotate: -25deg;
}

.fotos6{
  bottom: 50%;
  left: -1%;
  rotate: -25deg;
}

@media screen and (max-width:600px) {
  .fotos1,.fotos2,.fotos3,.fotos4,.fotos5,.fotos6 {
    width: 200px;
  }

  .fotos1{
    top: 20%;
    left: 61%;
    rotate: -18deg;
  }
  .fotos2{
    top: 20%;
    left: -5%;
    rotate: -18deg;
  }
  .fotos3{
    top: 52%;
    right: 0%;
    rotate: 25deg;
  }
  .fotos4{
    bottom: 7%;
    right: -7%;
    rotate: 25deg;
  }
  .fotos5{
    bottom: 10%;
    left: -10%;
    rotate: -25deg;
  }
  .fotos6{
    bottom: 42%;
    left: -9%;
    rotate: -25deg;
  }
}