.title{
    text-align: center;
    font-size: 48px;
    color: #F4016A;
    text-shadow: #F9F921 3px 3px 4px;
    margin-bottom: 50px;
}

@media screen and (max-width:600px) {
    .title{
        margin-bottom: 25px;
    }
}


