.wrapper{
  background-image: url('/saojoao/assets/flag.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
  width: 326px;
  height: 392px;

  padding: 30px;
  gap: 20px;

  text-align: center;
  display: flex;
  flex-direction: column;
  
}

.wrapper p{
  margin: 0%;
}

.icon{
  font-size: 60px;
}

.title{
  font-size: 24px;
}

.text{
  font-size: 24px;
  font-weight: lighter;
}