.wrapper{
  background-image: url('/saojoao/assets/flag.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
  width: 326px;
  height: 392px;

  padding: 30px;
  gap: 20px;

  text-align: center;
  display: flex;
  flex-direction: column;
  
}

.wrapper p{
  margin: 0%;
}

.icon{
  font-size: 60px;
}

.title{
  font-size: 24px;
}

.text{
  font-size: 24px;
  font-weight: lighter;
}

@media screen and (max-width: 768px) {
  .wrapper{
    width: 168px;
    height: 222px;
    padding: 5px;
    gap: 5px;
  }

  .icon{
    font-size: 40px;
  }
  .title{
    font-size: 18px;
  }
  .text{
    font-size: 18px;
  }
  
}