.wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 588px;

  gap: 56px;

  background-color: #F3E60130;
}

.wrapper2{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 1400px;
}

@media screen and (max-width: 768px) {
  .wrapper{
    gap: 24px;
    min-height: 650px;
    padding: 20px;
  }

  .wrapper2{
    flex-direction: column;
    padding: 0px 25px;
    gap: 20px;
  }
  
}